name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew clean build -x test

    #   - name: Test with Gradle
    #     run: ./gradlew test

      - name: Build Docker image
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/k8s-labs-todo-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/k8s-labs-todo-backend:${{ github.sha }}
          push: true
  # GitOps Repo Update
  # helm value image ex) DOCKER_USERNAME/k8s-labs-todo-backend:DOCKER_TAG
  gitops-repo-update:
    runs-on: self-hosted
    needs: build
    steps:
        - name: Update GitOps repo
          run: |
                git clone https://x-access-token:${{ secrets.GH_PAT }}@github.com/Arastoa/cicd_todo_argo.git
                cd cicd_todo_argo
                
                sed -i "s|DOCKER_USERNAME|${{ secrets.DOCKERHUB_USERNAME }}|" values.yaml
                sed -i "s|DOCKER_TAG|${{ github.sha }}|" values.yaml
                
                cat values.yaml
                
                git config user.name "github-actions"
                git config user.email "github-actions@github.com"
                
                # 변경사항 있을 때만 commit/push
                git diff --quiet || (git add values.yaml && git commit -m "Update image tag to ${{ github.sha }}" && git push)