name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew clean build -x test

    #   - name: Test with Gradle
    #     run: ./gradlew test

      - name: Build Docker image
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/todo-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/todo-backend:${{ github.sha }}
          push: true
  # GitOps Repo Update
  # helm value image ex) DOCKER_USERNAME/k8s-labs-todo-backend:DOCKER_TAG
  gitops-repo-update:
    runs-on: self-hosted
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
      - run: |
          git clone https://github.com/Arastoa/cicd_todo_argo
          cd cicd_todo_argo
          sed -i "s|repository:.*|repository: ${{ secrets.DOCKERHUB_USERNAME }}/todo-backend|" values.yaml
          sed -i "s|tag:.*|tag: ${{ github.sha }}|" values.yaml
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add values.yaml
          git commit -m "Update helm value image ${{ github.sha }}"
          git push